<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="View your gift exchange recipient's wishlist.">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/css/pages.css" type="text/css"/>
</head>
<body>
<div id="snackbar" class="hidden"></div>
<div id="container">
    <div id="loading-spinner" class="spinner-container"><div class="spinner"></div></div>
    <h1 id="heading" hidden></h1>
    <div id="wishlist-content"></div>
</div>
<script type="module">
    import {main} from '/src/wishlistView.js';
    main();
</script>
</body>
</html>