<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="/css/pages.css" type="text/css"/>
</head>
<body>
<div id="snackbar" class="hidden"></div>
<div id="container">
    <div id="loading-spinner" class="spinner-container"><div class="spinner"></div></div>
    <h1 id="heading" hidden></h1>
    <div id="wishlist-content"></div>
</div>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="arootroatch" data-description="Support me on Buy me a coffee!" data-message="Love the site? Have ideas? Become a supporter! " data-color="#FF5F5F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
<script type="module">
    import {main} from '/src/wishlistView.js';
    main();
</script>
</body>
</html>