html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overscroll-behavior-y: none;
}

body {
    overscroll-behavior-y: none;
    color: rgb(255, 255, 255);
    margin-right: 0;
    max-width: 100%;
    overflow: hidden;
    
}

#container{
    max-width: 100%;
    padding: 60px 20px 0 20px;
    height: 80vh;
    overflow-y: scroll;
}


#background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: 
        linear-gradient(rgba(43, 43, 43, 0.39) 80%, rgba(0, 0, 0, 0.818)), 
        url(Gift-Giving-Banner.jpeg);
    background-size: cover;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgb(114, 114, 114) ;
}

#intro {
    background-color: rgba(220, 220, 220, 0.717);
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    line-height: 1.5em;
    text-align: justify;
    max-width: 600px;
    transition: height 1s;
    /* overflow: hidden; */
    padding: 5px 10px;
    position: relative;
}
.fa-solid{
    color: white;
    font-size: 2rem;
    position: absolute;
    &:hover {
        cursor: pointer;
    }
}
#left-arrow{
    top: 32.5%;
    left: -50px;
}
#right-arrow {
    top: 32.5%;
    right: -50px;
}

#flex-div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}
.edit-span{
    font-size: .7em;
}
.delete-name{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #bb0000;
    fill: none;
    color: #bb0000;
    cursor: pointer;
    font-size: 10px;
    padding: 2px 5px;
}

.name-input {
    text-transform: capitalize;
}


.table {
    border-collapse: collapse;
    width: 45%;
    min-width: 300px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    margin-left: 10px;
    th{
        padding: 12px 8px;
        text-align: center;
        background-color: #69292ac9;
        color: white;
    }
    td {
        height: 20px;
        padding: 8px;
    }
    tr{
        font-size: 1em;
    }
    tr:nth-child(odd){
        background-color: #7b7b7b91;
    }
    tr:nth-child(even){
        background-color: #9e9e9e8b;
    }

}

#house1-header {
    margin-top: 0;
}

.household, #name-list{
    min-height: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.695);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #9e9e9e8b;
    /* color: black; */
}
#name-list{
    margin-top: 0;
}
.household{
    margin-top: 1rem;
}

.household p, #name-list p {
    margin: 5px;
    display: inline-block;
}

.household h2, #name-list h2 {
    margin-top: 0;
    margin-bottom: 10px;
    /* color: #873335; */
}

.name-select{
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 15px;

}

.name-container {
    padding-bottom: 35px; /* Keep space to enable drag and drop */
}

.button, .btn-bottom {
    background-color: #69292ac9;
    color: rgb(226, 226, 226);
    box-shadow: 0 1px 0 0 #3b0e0fc9, 0 2px 0 0 #3b0e0fc9, 0 3px 0 0 #3b0e0fc9, 0 4px 4px 0 #3b0e0fc9; 
    transition: .2s;
    border-radius: 20px;
    border-style: outset;
    padding: 10px 10px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(114, 114, 114);
    margin: 0 5px 10px 5px;
    max-height: 65px;
}
#generate, #addHouse, #deleteHouse{
    padding-top: 5px;
    padding-bottom: 5px;
}

#control-strip{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    width: 100%;
    background-color: #69292ac9;
    display: flex;
    justify-content: center;
}

#btn-div{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

#btn-div:first-child{
    margin-left: 10px;
}
#btn-div:last-child{
    margin-right: 10px;
}

.button:hover, .btn-bottom:hover {
    transform: translate(0, 2px);
    box-shadow: 0 1px 0 0 #3b0e0fc9, 0 2px 4px 0 #3b0e0fc9;
}

.button:active, .btn-bottom:active {
    transform: translate(0, 4px);
    box-shadow: none;
}

/* ----------------  SKIPPY SNACKBAR YEA------------------------------ */

#snackbar {
    min-width: 250px; /* Set a default minimum width */
    background-color: #fff; /* Black background color */
    color: #000; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    border: 3px solid #198c0a;
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    transform: translateX(-50%);
    top: 20px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  .show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  .hide{
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
  }
  .hidden {
    visibility: hidden;
  }


  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 20px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 20px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  

/* ---------------- EMAIL ENTRY ------------------------------ */



#emailTable{
    min-height: 250px;
    min-width: 400px;
    width: auto;
    /* max-width: 600px; */
    position: fixed;
    left: 50%;
    top: 20px;
    border-radius: 10px;
    transform: translateX(-50%);
    margin: 0;
    table-layout: fixed;
    z-index: 10;
    th{
        background-color: #69292a;
        width: 100%;
    }
    tr{
        color: black;
        background-color: white;
        display: flex;
        border: 1px solid #69292a;
    }
    td{
        height: auto;
        text-align: center;
        width: 50%;
    }
}

.sendEmails{
    background-color: white;
    max-width: 400px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    color: #198c0a;
    padding: 20px;
    border: 2px solid #198c0a;
    text-align: center;


}

/* -----------  QUERY------------------ */

.emailQuery {
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 10px;
    color: black;
    padding: 5px;
    border: 3px solid #69292a;
    transform: translateX(100%);
    animation: email-fadein 0.5s 2s forwards;
    transition: all 0.5s;
    z-index: 10;
    button {
        width: 80px;
        padding: 5px;
        margin-bottom: 2px;
    }
    div {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        text-align: center;
    }
    input {
        margin-top: 5px;
    }
    span {
        color: #198c0a;
        font-weight: bold;
        font-size: 1.2rem;
    }
}
#queryBtnDiv{
    /* width: 250px; */
    flex-direction: row;
}

.hideQuery{
    animation: email-fadeout 0.5s forwards;
  }
  /* Animations for emailQuery */
  @-webkit-keyframes email-fadein {
    from {opacity: 0; transform: translateX(100%);}
    to {opacity: 1; transform: translateX(0);}
  }
  
  @keyframes email-fadein {
    from {opacity: 0; transform: translateX(100%);}
    to {opacity: 1; transform: translateX(0);}
  }
  @-webkit-keyframes email-fadeout {
    from {opacity: 1; transform: translateX(0);}
    to {opacity: 0; transform: translateX(100%);}
  }
  
  @keyframes email-fadeout {
    from {opacity: 1; transform: translateX(0);}
    to {opacity: 0; transform: translateX(100%);}
  }


  /* -------------SECRET SANTA MODE------------------------ */

#left-container.secret{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    #name-list, .household{
        max-width: 333px;
        margin: 10px;
    }
    .name-container{
        min-height: calc(100% - 110px);
    }
    .household{
        position: relative;
    }
    .household select{
        position: absolute;
        bottom: 5px;
        width: 90%;
    }
    #name-list{
        padding:0.5rem
    }
}


/* ---------------- MEDIA QUERIES-------------------------- */
/* media queries */


@media screen and (max-width: 979px) {
    #btn-div{
        max-width: 600px;
    }
    #btn-div.secret{
        max-width: 700px;
    }
    .btn-bottom{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #container{
        height: 76vh;
    }

}
@media screen and (max-width: 819px) {
    #btn-div{
        max-width: 600px;
    }

}

@media screen and (max-width: 740px){
    #container{
        overflow-x: hidden;
    }
    #intro {
        padding-bottom: 2rem;
    }
    .fa-solid{
        position: absolute;
    }
    #left-arrow{
        top: auto;
        bottom: 10px;
        left: 41%;
    }
    #right-arrow{
        top: auto;
        bottom: 10px;
        left: 52%;
    }
}

@media screen and (max-width:659px){
    #btn-div.secret{
        /* max-width: 338px; */
        .btn-bottom{
            width: 90px;
         }
        #instructions{
             width: 100px;
        }
        .shortcut{
            display: none;
        }
    }
}

@media screen and (max-width: 630px) {
   #flex-div {
       display: block;
   }
   .table {
       margin: 50px auto 0px auto;
       width: 100%;
       max-width: 350px;
       
   }
   body{
       background-attachment: scroll;
   }
   .household, #name-list {
       margin: 0 auto;
       max-width: 320px;
   }
   .household h2, #name-list h2 {
       text-align: center;
   }


}

@media screen and (max-width: 553px) {
    #flex-div {
        margin-top: 10px;
    }
}
@media screen and (max-width: 507px){
    #queryBtnDiv{
        flex-direction: column;
    }
}
@media screen and (max-width: 499px) {
    #name-list.secret{
        padding-bottom:50px;
    }
    #container{
        height: 73vh;
    }
    #btn-div{
        max-width: 338px;
    }
    .btn-bottom{
     width: 90px;
    }
    #instructions{
     width: 100px;
    }
    .shortcut{
     display: none;
    }
}

@media screen and (max-width: 429px){
    #btn-div.secret{
        max-width: 290px;
    }
    #emailTable{
        min-width: 95%;
        margin: 0px 5px;
    }
}

@media screen and (max-width: 339px) {
   #container{
    padding-left: 0;
    padding-right: 5px;
   }
}

@media screen and (max-width:499px) and (max-height: 818px){
    #container{
        height: 70vh;
    }
}
@media screen and (max-width:499px)and (max-height: 732px){
    #container{
        height: 68vh;
    }
}
@media screen and (max-width:499px) and (max-height: 689px){
    #container{
        height: 66vh;
    }
}