html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    /* background: radial-gradient( rgb(90, 0, 0) 70%, rgb(50, 0, 0)); */
    overscroll-behavior-y: none;
    /* height: 100%; */
}

body {
    overscroll-behavior-y: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 1)), url(Gift-Giving-Banner.jpeg);
    background-size: cover;
    background-attachment: fixed;
    color: rgb(226, 226, 226);
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgb(114, 114, 114) ;
}

#intro {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25));
    padding: 10px;
    margin: 20px auto;
    /* margin-right: 18px; */
    line-height: 1.5em;
    text-align: justify;
    max-width: 600px;
    
}
#flex-div {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}
.delete-name{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #bb0000;
    fill: none;
    color: #bb0000;
    cursor: pointer;
    font-size: 10px;
    padding: 2px 5px;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){
    background-color: #4b4b4b71;
}
#table tr:nth-child(odd){
    background-color: #33333371;
}

#table tr {
    font-size: 1em;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #053b17b6;
    color: white;
}

#table {
    min-width: 35%;
    border-collapse: collapse;
    max-width: 50%;
    margin-right: 20px;
}

#house1-header {
    margin-top: 0;
}

.household p {
    margin: 5px;
    display: inline-block;
}

.household h2 {
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(114, 114, 114);

}

#addHouse, #generate{
    margin-top: 20px;
    margin-bottom: 20px;
}