.button,
.btn-bottom {
  background-color: #69292ac9;
  color: rgb(226, 226, 226);
  box-shadow: 0 1px 0 0 #3b0e0fc9, 0 2px 0 0 #3b0e0fc9, 0 3px 0 0 #3b0e0fc9,
    0 4px 4px 0 #3b0e0fc9;
  transition: 0.2s;
  border-radius: 20px;
  border-style: outset;
  padding: 5px 10px;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(114, 114, 114);
  margin: 0 5px 10px 5px;
  max-height: 65px;
}

.deleteHouse {
  width: 100%;
  margin: 5px auto 0 auto;
}

#secretGenerate {
  padding: 10px;
}

.button:hover,
.btn-bottom:hover {
  transform: translate(0, 2px);
  box-shadow: 0 1px 0 0 #3b0e0fc9, 0 2px 4px 0 #3b0e0fc9;
}

.button:active,
.btn-bottom:active {
  transform: translate(0, 4px);
  box-shadow: none;
}
