.button,
.btn-bottom {
  background-color: #69292a;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: 0.2s;
  padding: 5px 10px;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
  margin: 0 5px 10px 5px;
  max-height: 65px;
}

.deleteHouse {
  width: 100%;
  margin: 5px auto 0 auto;
}

#secretGenerate {
  padding: 10px;
}

.button:hover,
.btn-bottom:hover {
  background-color: #7a3233;
}

.button:active,
.btn-bottom:active {
  background-color: #5a2122;
}
