.emailQuery {
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.409);
  border-radius: 10px;
  color: black;
  padding: 7px 15px;
  border: 3px solid #69292a;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 5px auto;

  & button {
    width: 80px;
    padding: 5px;
    margin-bottom: 2px;
  }
  & div {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  & input {
    margin-top: 5px;
    width: 70%;
  }
  & span {
    color: #198c0a;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 7px;
  }
}
