#snackbar {
  min-width: 250px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #198c0a;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.hide {
  -webkit-animation: fadeout 0.5s;
  animation: fadeout 0.5s;
}

.hidden {
  visibility: hidden;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 20px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
