/* Global Resets and Base Styles */
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  overscroll-behavior-y: none;
  color: rgb(255, 255, 255);
  margin-right: 0;
  max-width: 100%;
  padding-bottom: 100px;
}

#container {
  margin-right: 8px;
}

#background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(
      rgba(43, 43, 43, 0.60) 80%,
      rgba(0, 0, 0, 0.90)
    ),
    url(/public/Gift-Giving-Banner.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgb(114, 114, 114);
}

#intro {
  background-color: rgba(220, 220, 220, 0.717);
  color: black;
  border-radius: 10px;
  margin: 20px auto;
  line-height: 1.5em;
  text-align: justify;
  max-width: 600px;
  transition: height 1s;
  padding: 5px 10px;
  position: relative;
}
