/* Participant Name Styles */
.delete-name {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #bb0000;
  fill: none;
  color: #bb0000;
  cursor: pointer;
  font-size: 10px;
  padding: 2px 5px;
  position: relative;
  top: -2px;
}

.name-input {
  text-transform: capitalize;
}

.name-wrapper:hover {
  cursor: pointer;
  background-color: #69292ac9;
  border-radius: 10px;
  padding-left: 10px;
}
