/* Secret Santa Mode Theme Overrides */
#left-container.secret {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  #name-list,
  .household,
  .ghost-house {
    width: 333px;
    margin: 10px;
    box-sizing: border-box;
  }
  #name-list .name-container:empty {
    min-height: 0;
  }
  .household {
    display: flex;
    flex-direction: column;
  }
  .household .name-container {
    flex: 1;
  }
  .household select {
    width: 100%;
  }
  #name-list {
    & select {
      margin-top: 15px;
    }
  }
}
