/* Secret Santa Mode Theme Overrides */
#left-container.secret {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  #name-list,
  .household {
    width: 333px;
    margin: 10px;
  }
  .name-container {
    min-height: calc(100% - 110px);
  }
  .household {
    position: relative;
    padding-bottom: 20px;
  }
  .deleteHouse {
    position: relative;
    top: -17px;
  }
  .household select {
    position: absolute;
    bottom: 5px;
    width: 90%;
  }
  #name-list {
    & select {
      position: relative;
      top: -25px;
    }
    #b0 {
      position: relative;
      top: -17px;
    }
    #input0 {
      position: relative;
      top: -15px;
    }
  }
}
